## **Preprocessing dát o VŠ učiteľoch**

In [1]:
import pandas as pd

In [67]:
public_fulltime_22 = pd.read_excel('../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab16v')
display(public_fulltime_22)

,Vysoké školy k 31. 10. 2022 - verejné,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,138,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Škola,NaN,Učitelia na ustanovený pracovný čas (plný úväzok),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,spolu,z toho,profesori,NaN,NaN,docenti,NaN,NaN,odborní asistenti,NaN,asis-,lek-,hosťu-
2,Fakulta,NaN,NaN,NaN,spolu,v tom,NaN,spolu,v tom,NaN,spolu,v tom,NaN,NaN,júci
3,NaN,NaN,NaN,ženy,NaN,DrSc.,"CSc.,",NaN,DrSc.,"CSc.,",NaN,"CSc.,",tenti,tori,profe-
4,NaN,NaN,NaN,NaN,NaN,NaN,PhD.,NaN,NaN,PhD.,NaN,PhD.,NaN,NaN,sori
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,Fa dramat. umení AU,35,10,6,1,3,18,0,14,11,10,0,0,0
139,NaN,Fa múzických umení AU,66,23,12,0,8,16,0,14,32,21,2,4,0
140,NaN,Fa výtvarných umení AU,33,9,5,0,3,11,0,7,17,11,0,0,0
141,AKADÉMIA UMENÍ,NaN,134,42,23,1,14,45,0,35,60,42,2,4,0
142,SLOVENSKÁ REPUBLIKA,NaN,8764,4116,1467,156,1272,2906,14,2837,3937,3676,230,218,6

In [68]:
public_fulltime_22_summary = pd.read_excel('../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab16v', header=5,
                                          usecols="A:D").rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 'Unnamed: 2': 'spolu full-time', 'Unnamed: 3': 'zeny full-time'})
display(public_fulltime_22_summary)

,univerzita,fakulta,spolu full-time,zeny full-time
0,NaN,Rímskokat.bohosl.fak.UK,21,2
1,NaN,Evanj. bohosl. fak. UK,14,2
2,NaN,Fa matem.fyz. a inf. UK,211,63
3,NaN,Prírodovedecká fak. UK,319,139
4,NaN,Fakulta managementu UK,69,39
...,...,...,...,...
133,NaN,Fa dramat. umení AU,35,10
134,NaN,Fa múzických umení AU,66,23
135,NaN,Fa výtvarných umení AU,33,9
136,AKADÉMIA UMENÍ,NaN,134,42
137,SLOVENSKÁ REPUBLIKA,NaN,8764,4116

In [69]:
# backfill / bfill: replaces NaN values with the next non-NaN value that appears in the column
public_fulltime_22_summary['univerzita'] = public_fulltime_22_summary['univerzita'].fillna(method='backfill')
display(public_fulltime_22_summary)

,univerzita,fakulta,spolu full-time,zeny full-time
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,21,2
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,14,2
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,211,63
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,319,139
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,69,39
...,...,...,...,...
133,AKADÉMIA UMENÍ,Fa dramat. umení AU,35,10
134,AKADÉMIA UMENÍ,Fa múzických umení AU,66,23
135,AKADÉMIA UMENÍ,Fa výtvarných umení AU,33,9
136,AKADÉMIA UMENÍ,NaN,134,42
137,SLOVENSKÁ REPUBLIKA,NaN,8764,4116

In [70]:
# remove the summary rows: 
public_fulltime_22_summary = public_fulltime_22_summary.dropna(axis=0, subset='fakulta').reset_index(drop=True)

with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.precision', 3,):
    print(public_fulltime_22_summary)

                  univerzita                  fakulta  spolu full-time  \
0      UNIVERZITA KOMENSKÉHO  Rímskokat.bohosl.fak.UK               21
1      UNIVERZITA KOMENSKÉHO   Evanj. bohosl. fak. UK               14
2      UNIVERZITA KOMENSKÉHO  Fa matem.fyz. a inf. UK              211
3      UNIVERZITA KOMENSKÉHO   Prírodovedecká fak. UK              319
4      UNIVERZITA KOMENSKÉHO   Fakulta managementu UK               69
5      UNIVERZITA KOMENSKÉHO      Lekárska fakulta UK              505
6      UNIVERZITA KOMENSKÉHO  Jesseniova lek. fak. UK              184
7      UNIVERZITA KOMENSKÉHO    Farmaceutická fak. UK              107
8      UNIVERZITA KOMENSKÉHO     Právnická fakulta UK              136
9      UNIVERZITA KOMENSKÉHO   Filozofická fakulta UK              262
10     UNIVERZITA KOMENSKÉHO  Fa soc.a ekonom.vied UK               50
11     UNIVERZITA KOMENSKÉHO   Pedagogická fakulta UK              140
12     UNIVERZITA KOMENSKÉHO   Fakulta TV a športu UK               58
13   UNIVERZITA P.J.ŠAFÁRIKA          UPJŠ - rektorát               17
14   UNIVERZITA P.J.ŠAFÁRIKA  Prírodovedecká fak.UPJŠ              154
15   UNIVERZITA P.J.ŠAFÁRIKA  Fa verejnej správy UPJŠ               30
16   UNIVERZITA P.J.ŠAFÁRIKA   Lekárska fakulta  UPJŠ              316
17   UNIVERZITA P.J.ŠAFÁRIKA   Právnická fakulta UPJŠ               45
18   UNIVERZITA P.J.ŠAFÁRIKA    Filozofická fak. UPJŠ              194
19      PREŠOVSKÁ UNIVERZITA  Gréckokat.teol. fak. PU               17
20      PREŠOVSKÁ UNIVERZITA  Pravosláv. boh. fak. PU               17
21      PREŠOVSKÁ UNIVERZITA            PU - rektorát               30
22      PREŠOVSKÁ UNIVERZITA    F manaž.,ekon a ob.PU               61
23      PREŠOVSKÁ UNIVERZITA     Fa zdrav. odborov PU               76
24      PREŠOVSKÁ UNIVERZITA  Filozofická fakulta  PU              155
25      PREŠOVSKÁ UNIVERZITA   Fa hum. a prír.vied PU               57
26      PREŠOVSKÁ UNIVERZITA   Pedagogická fakulta PU               55
27      PREŠOVSKÁ UNIVERZITA        Fakulta športu PU               23
28   UNIV.sv.CYRILA a METODA          UCaM - rektorát               13
29   UNIV.sv.CYRILA a METODA   Fa prírodných vied UCM               45
30   UNIV.sv.CYRILA a METODA     Fa zdravot. vied UCM               33
31   UNIV.sv.CYRILA a METODA  Filozofická fakulta UCM               79
32   UNIV.sv.CYRILA a METODA  Fa masmed. komunik. UCM               70
33   UNIV.sv.CYRILA a METODA   Fa sociálnych vied UCM               38
34      KATOLÍCKA UNIVERZITA    Teologická fakulta KU               45
35      KATOLÍCKA UNIVERZITA      Fa zdravotníctva KU               43
36      KATOLÍCKA UNIVERZITA   Filozofická fakulta KU               40
37      KATOLÍCKA UNIVERZITA   Pedagogická fakulta KU              124
38      UNIVERZITA J.SELYEHO   Reform. teolog. Fa UJS               15
39      UNIVERZITA J.SELYEHO  Fa ekon. a informat.UJS               46
40      UNIVERZITA J.SELYEHO  Pedagogická fakulta UJS               57
41   UNIVERZITA VETERIN.LEK.  Fa veter. lekár.(fikt.)              199
42   UNIVER. KONŠT. FILOZOFA   Fa prírodných vied UKF              119
43   UNIVER. KONŠT. FILOZOFA  Fa stredoeur.štúdií UKF               38
44   UNIVER. KONŠT. FILOZOFA  Filozofická fakulta UKF              150
45   UNIVER. KONŠT. FILOZOFA   Fa sociálnych vied UKF               46
46   UNIVER. KONŠT. FILOZOFA  Pedagogická fakulta UKF               87
47    UNIVERZITA MATEJA BELA   Fa prírodných vied UMB               73
48    UNIVERZITA MATEJA BELA  Ekonomická fakulta  UMB               86
49    UNIVERZITA MATEJA BELA    Právnická fakulta UMB               36
50    UNIVERZITA MATEJA BELA  Fa politických vied UMB               32
51    UNIVERZITA MATEJA BELA  Filozofická fakulta UMB              105
52    UNIVERZITA MATEJA BELA  Pedagogická fakulta UMB               55
53       TRNAVSKÁ UNIVERZITA  Teologická fakulta  TTU               19
54       TRNAVSKÁ UNIVERZITA  F zdrav.a soc.práce TTU               54
55       TRNAVSKÁ UNIVERZITA    Právnická fakulta TTU               41
56       TRNAVSKÁ UNIVERZITA  Filozofická fakulta TTU               53
57       TRNAVSKÁ UNIVERZITA  Pedagogická fakulta TTU               97
58    SLOV.TECHN. UNIVERZITA  Fa informatiky a IT STU               30
59    SLOV.TECHN. UNIVERZITA  Strojnícka fakulta  STU               86
60    SLOV.TECHN. UNIVERZITA   Materiálovotech.Fa STU              120
61    SLOV.TECHN. UNIVERZITA    Stavebná fakulta  STU              166
62    SLOV.TECHN. UNIVERZITA    Fa elektr. a inf. STU              137
63    SLOV.TECHN. UNIVERZITA  F chem.potrav.techn.STU              169
64    SLOV.TECHN. UNIVERZITA   Fa arch. a dizajnu STU               81
65    SLOV.TECHN. UNIVERZITA           STU - rektorát               25
66   TECH. UNIVERZITA KOŠICE  Fa výrob.technológií TU               55
67   TECH. UNIVERZITA KOŠICE    Fa baníctva,ekol., TU               91
68   TECH. UNIVERZITA KOŠICE  Fa mater.,metal.,recyk.               55
69   TECH. UNIVERZITA KOŠICE   Strojnícka fakulta  TU              101
70   TECH. UNIVERZITA KOŠICE     Stavebná fakulta  TU               58
71   TECH. UNIVERZITA KOŠICE   Fa elektr. a infor. TU              135
72   TECH. UNIVERZITA KOŠICE          TU K - rektorát               16
73   TECH. UNIVERZITA KOŠICE   Ekonomická fakulta  TU               58
74   TECH. UNIVERZITA KOŠICE              Fa umení TU               39
75   TECH. UNIVERZITA KOŠICE       Letecká fakulta TU               48
76       ŽILINSKÁ UNIVERZITA   Fa humanitných vied ŽU               33
77       ŽILINSKÁ UNIVERZITA   Strojnícka fakulta  ŽU               79
78       ŽILINSKÁ UNIVERZITA     Stavebná fakulta  ŽU               59
79       ŽILINSKÁ UNIVERZITA  Fa elektrotech. a IT ŽU               87
80       ŽILINSKÁ UNIVERZITA            ŽU - rektorát               46
81       ŽILINSKÁ UNIVERZITA        Fakulta PEDAS  ŽU              108
82       ŽILINSKÁ UNIVERZITA    Fa riadenia a inf. ŽU               80
83       ŽILINSKÁ UNIVERZITA   Fa bezpečnostného inž.               35
84    TRENČ. UNIV. A.DUBČEKA  Fa špec. techniky TnUAD               16
85    TRENČ. UNIV. A.DUBČEKA   Fa priem.technol.TnUAD               16
86    TRENČ. UNIV. A.DUBČEKA         TnUAD - rektorát               16
87    TRENČ. UNIV. A.DUBČEKA  Fa soc.-ekon.vzť. TnUAD               26
88    TRENČ. UNIV. A.DUBČEKA   Fa zdravotníctva TnUAD               25
89     EKONOMICKÁ UNIVERZITA   Fa podn. manažmentu EU               73
90     EKONOMICKÁ UNIVERZITA     Obchodná fakulta  EU               64
91     EKONOMICKÁ UNIVERZITA  Fa hosp. informatiky EU               68
92     EKONOMICKÁ UNIVERZITA   Podnikovohosp. fak. EU               35
93     EKONOMICKÁ UNIVERZITA  Národohosp. fakulta  EU               83
94     EKONOMICKÁ UNIVERZITA            EU - rektorát               11
95     EKONOMICKÁ UNIVERZITA    Fa medzin. vzťahov EU               27
96     EKONOMICKÁ UNIVERZITA   Fa aplikov. jazykov EU               54
97    SLOV. POĽNOHOSP. UNIV.  Fa biotechn. a potr.SPU               61
98    SLOV. POĽNOHOSP. UNIV.  Fa ekonom. a manažm.SPU               80
99    SLOV. POĽNOHOSP. UNIV.   Fa agrobiol.,potr.zdr.               91
100   SLOV. POĽNOHOSP. UNIV.    Technická fakulta SPU               65
101   SLOV. POĽNOHOSP. UNIV.  Fa záhrad. a kraj. inž.               39
102   SLOV. POĽNOHOSP. UNIV.           SPU - rektorát               16
103   SLOV. POĽNOHOSP. UNIV.  F eur.štúdií a reg.rozv               31
104  TECH. UNIVERZITA ZVOLEN           Fa techniky TU               21
105  TECH. UNIVERZITA ZVOLEN     Lesnícka fakulta  TU               57
106  TECH. UNIVERZITA ZVOLEN    Drevárska fakulta  TU               81
107  TECH. UNIVERZITA ZVOLEN   Fa ekológie a envir.TU               30
108  TECH. UNIVERZITA ZVOLEN          TU Z - rektorát               11
109       VŠ MÚZICKÝCH UMENÍ  Film. a telev. fak.VŠMU               37
110       VŠ MÚZICKÝCH UMENÍ   Divadelná fakulta VŠMU               53
111       VŠ MÚZICKÝCH UMENÍ  Hud.a tanečná fak. VŠMU               64
112       VŠ MÚZICKÝCH UMENÍ          VŠMU - rektorát                3
113      VŠ VÝTVARNÝCH UMENÍ    Fa výtvar. umení VŠVU              118
114           AKADÉMIA UMENÍ      Fa dramat. umení AU               35
115           AKADÉMIA UMENÍ    Fa múzických umení AU               66
116           AKADÉMIA UMENÍ   Fa výtvarných umení AU               33

     zeny full-time
0                 2
1                 2
2                63
3               139
4                39
5               270
6                92
7                68
8                57
9               135
10               27
11               92
12               23
13                7
14               65
15               19
16              190
17               15
18              118
19                2
20                0
21               19
22               39
23               55
24               92
25               26
26               39
27                8
28                9
29               23
30               20
31               41
32               37
33               17
34                9
35               16
36               16
37               74
38                5
39               14
40               25
41              119
42               59
43               17
44               87
45               29
46               60
47               23
48               60
49               18
50               15
51               47
52               38
53                4
54               40
55               20
56               22
57               53
58                6
59               18
60               51
61               65
62               27
63               59
64               36
65               11
66               17
67               33
68               23
69               37
70               30
71               32
72                9
73               31
74               10
75                9
76               16
77               20
78               20
79               13
80               27
81               55
82               23
83               17
84                7
85               11
86                5
87               18
88               17
89               47
90               36
91               41
92               19
93               46
94                5
95               12
96               43
97               35
98               51
99               37
100              10
101              18
102              11
103              16
104               7
105              11
106              36
107              12
108               8
109              11
110              21
111              25
112               3
113              40
114              10
115              23
116               9

In [73]:
# pridame stlpec verejne
public_fulltime_22_summary['typ'] = 'verejná'
public_fulltime_22_summary = public_fulltime_22_summary[['univerzita', 'fakulta', 'typ', 'spolu full-time', 'zeny full-time']]
display(public_fulltime_22_summary)

,univerzita,fakulta,typ,spolu full-time,zeny full-time
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,21,2
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,14,2
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,211,63
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,319,139
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,69,39
...,...,...,...,...,...
112,VŠ MÚZICKÝCH UMENÍ,VŠMU - rektorát,verejná,3,3
113,VŠ VÝTVARNÝCH UMENÍ,Fa výtvar. umení VŠVU,verejná,118,40
114,AKADÉMIA UMENÍ,Fa dramat. umení AU,verejná,35,10
115,AKADÉMIA UMENÍ,Fa múzických umení AU,verejná,66,23
116,AKADÉMIA UMENÍ,Fa výtvarných umení AU,verejná,33,9

- Definujme si na to funkciu:

In [74]:
def fix_table(df, university_type):
    """
    Fill the university names. Remove summary rows. Add type of university.
    """
    # backfill / bfill: replaces NaN values with the next non-NaN value that appears in the column
    df['univerzita'] = df['univerzita'].fillna(method='backfill')
    # remove summary rows = rows without specified Faculty
    df = df.dropna(axis=0, subset='fakulta').reset_index(drop=True)
    df['typ'] = university_type
    return df

In [86]:
public_parttime_22_summary = pd.read_excel('../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab17v', header=5,
                                          usecols="A:D").rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 'Unnamed: 2': 'spolu part-time', 'Unnamed: 3': 'zeny part-time'})
public_parttime_22_summary = fix_table(public_parttime_22, university_type='verejná')
display(public_parttime_22_summary)

,univerzita,fakulta,spolu part-time,zeny part-time,typ
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,19,3,verejná
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,2,2,verejná
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,21,5,verejná
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,48,20,verejná
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,2,1,verejná
...,...,...,...,...,...
93,VŠ MÚZICKÝCH UMENÍ,VŠMU - rektorát,2,2,verejná
94,VŠ VÝTVARNÝCH UMENÍ,Fa výtvar. umení VŠVU,12,4,verejná
95,AKADÉMIA UMENÍ,Fa dramat. umení AU,2,1,verejná
96,AKADÉMIA UMENÍ,Fa múzických umení AU,8,4,verejná
97,AKADÉMIA UMENÍ,Fa výtvarných umení AU,3,1,verejná

In [87]:
public_22 = pd.merge(public_fulltime_22_summary, public_parttime_22_summary, how="outer", on=['univerzita', 'fakulta', 'typ'])
display(public_22)

,univerzita,fakulta,typ,spolu full-time,zeny full-time,spolu part-time,zeny part-time
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,21,2,19.0,3.0
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,14,2,2.0,2.0
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,211,63,21.0,5.0
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,319,139,48.0,20.0
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,69,39,2.0,1.0
...,...,...,...,...,...,...,...
112,VŠ MÚZICKÝCH UMENÍ,VŠMU - rektorát,verejná,3,3,2.0,2.0
113,VŠ VÝTVARNÝCH UMENÍ,Fa výtvar. umení VŠVU,verejná,118,40,12.0,4.0
114,AKADÉMIA UMENÍ,Fa dramat. umení AU,verejná,35,10,2.0,1.0
115,AKADÉMIA UMENÍ,Fa múzických umení AU,verejná,66,23,8.0,4.0
116,AKADÉMIA UMENÍ,Fa výtvarných umení AU,verejná,33,9,3.0,1.0