# Data preprocessing

V tomto notebooku si načítame dáta, upravíme ich do slušnej formy pre ďalšie analýzy a následne uložíme v tejto upravenej forme do excelu/csv.

In [1]:
import pandas as pd

## Načítanie dát

#### - dáta **dotácie**

* súbory majú príponu `xls` pre roky 2008 - 2012, inak majú `xlsx`

In [2]:
nazvy = []
for y in range(2008, 2013):
    nazvy.append(f"../data/dotacie{y}.xls")
for y in range(2013, 2023):
    nazvy.append(f"../data/dotacie{y}.xlsx")

In [3]:
nazvy

['../data/dotacie2008.xls',
 '../data/dotacie2009.xls',
 '../data/dotacie2010.xls',
 '../data/dotacie2011.xls',
 '../data/dotacie2012.xls',
 '../data/dotacie2013.xlsx',
 '../data/dotacie2014.xlsx',
 '../data/dotacie2015.xlsx',
 '../data/dotacie2016.xlsx',
 '../data/dotacie2017.xlsx',
 '../data/dotacie2018.xlsx',
 '../data/dotacie2019.xlsx',
 '../data/dotacie2020.xlsx',
 '../data/dotacie2021.xlsx',
 '../data/dotacie2022.xlsx']

* `sheet_name=None` načíta všetky hárky zo súboru do dictionary, kde values sú dataframe-y a keys sú názvy hárkov

... well to nie je pravda, keys su roky a values su nejake divne slovniky ...

In [4]:
# toto nie je zatial uplne to, co chceme
# TODO

dotacie = {}

for i, file_name in enumerate(nazvy):
    dotacie[i+2008] = pd.read_excel(file_name, sheet_name=None)
#tuto ma problem s nejakymi datumami

/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D24 is marked as a date but the serial value 6343450 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 6975100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell F44 is marked as a date but the serial value 7950880 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4389595 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 8878115 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4298228 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 8318468 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 25107902.024399996 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 29182660.2 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4956630 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4298228 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 8215407 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 27232114.670799997 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 32441146.875 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4728948 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4956630 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 8323404 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 27905737.516799994 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 32225707.125 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 5343925 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 9480900 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 5062100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 5343925 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 9676850 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4851050 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 5062100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 10530350 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4826025 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4851050 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell F46 is marked as a date but the serial value 9200135 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4946000 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4826025 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/home/viki/anaconda3/envs/pridav_proj/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Cell F46 is marked as a date but the serial value 9822340 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():

In [5]:
#display(dotacie[2008])
print(type(dotacie[2008]))

<class 'dict'>

#### - dáta **regzam**:

regzam dáta sa načítavajú z **nested xml**, elementy *Employment* a *Guarantee* majú ešte vnorené elementy, čo nám trochu sťažuje načítavanie:

In [3]:
regzam_data = pd.read_xml('../data/regzam_portalvs.xml')
display(regzam_data)

,Id,GivenName,FamilyName,DegreePedagogicalAcademic,DegreeMaster,DegreeDoctor,Employment,Guarantee
0,18799121690,Štefan,Kočan,Doc.,JUDr.,PhD.,NaN,NaN
1,14002860472,Dušan,Korgo,DOC,JUDR,PHD,NaN,NaN
2,17922733804,Ján,Buzalka,prof.,PhDr.,CSc.,NaN,NaN
3,16290288493,Jozef,Stieranka,prof.,Ing.,PhD.,NaN,NaN
4,21401303068,Ľuboš,Wäldl,doc.,JUDr.,PhD.,NaN,NaN
...,...,...,...,...,...,...,...,...
32730,12110964830,Joža,Spurný,doc.,JUDr.PhDr.,Ph.D.,NaN,NaN
32731,13500390262,Marcela,Harčárová,None,Mgr.,None,NaN,NaN
32732,17108478442,Jana,Juhásová,None,Mgr.,None,NaN,NaN
32733,15917135755,Miriama,Kubušová,None,Mgr.,None,NaN,NaN
32734,51680829014,Jana,Ochodnícka,None,PhDr.,None,NaN,NaN

In [40]:
# zdroj: https://stackoverflow.com/questions/71361593/how-to-read-nested-xml-file-with-python-pandas
regzam_data = pd.read_xml('../data/regzam_portalvs.xml', stylesheet='my_style.xsl') 
display(regzam_data)

,Id,GivenName,FamilyName,DegreePedagogicalAcademic,DegreeMaster,DegreeDoctor,Employment,Guarantee
0,18799121690,Štefan,Kočan,Doc.,JUDr.,PhD.,",Docent,s titulom docent a vysokoškolským vzde...",NaN
1,14002860472,Dušan,Korgo,DOC,JUDR,PHD,None,NaN
2,17922733804,Ján,Buzalka,prof.,PhDr.,CSc.,None,NaN
3,16290288493,Jozef,Stieranka,prof.,Ing.,PhD.,",Profesor,s titulom profesor a vysokoškolským ...",NaN
4,21401303068,Ľuboš,Wäldl,doc.,JUDr.,PhD.,",Profesor,s titulom docent a vysokoškolským vz...",NaN
...,...,...,...,...,...,...,...,...
32730,12110964830,Joža,Spurný,doc.,JUDr.PhDr.,Ph.D.,",Docent,s titulom docent a vysokoškolským vzde...",NaN
32731,13500390262,Marcela,Harčárová,None,Mgr.,None,",Asistent,s vysokoškolským vzdelaním druhého s...",NaN
32732,17108478442,Jana,Juhásová,None,Mgr.,None,",Asistent,s vysokoškolským vzdelaním druhého s...",NaN
32733,15917135755,Miriama,Kubušová,None,Mgr.,None,",Asistent,s vysokoškolským vzdelaním druhého s...",NaN
32734,51680829014,Jana,Ochodnícka,None,PhDr.,None,",Odborný asistent,s vysokoškolským vzdelaním t...",NaN

In [48]:
regzam_data = regzam_data.iloc[0:1]

In [49]:
#regzam_data.Employment.fillna(", , , , ",inplace=True)
#regzam_data["Employment_list"] = regzam_data["Employment"].str.split(',')
display(regzam_data)
regzam_data[['Workplace', 'Type', 'Subtype', 'BeginDate', 'Ratio']] = regzam_data.Employment.str.split(",", expand = True)

# regzam_data["Workplace"] = 
# regzam_data["Type"] = 
# regzam_data["Subtype"] = 
# regzam_data["BeginDate"] = 
# regzam_data["Ratio"] =

Id    18799121690
Name: 0, dtype: object

AttributeError: 'Series' object has no attribute 'Employment'

In [22]:
display(regzam_data)

,Id,GivenName,FamilyName,DegreePedagogicalAcademic,DegreeMaster,DegreeDoctor,Employment,Guarantee,Type,Subtype,BeginDate,Ratio
0,18799121690,Štefan,Kočan,Doc.,JUDr.,PhD.,NaN,NaN,NaN,NaN,NaN,NaN
1,14002860472,Dušan,Korgo,DOC,JUDR,PHD,NaN,NaN,NaN,NaN,NaN,NaN
2,17922733804,Ján,Buzalka,prof.,PhDr.,CSc.,NaN,NaN,NaN,NaN,NaN,NaN
3,16290288493,Jozef,Stieranka,prof.,Ing.,PhD.,NaN,NaN,NaN,NaN,NaN,NaN
4,21401303068,Ľuboš,Wäldl,doc.,JUDr.,PhD.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32730,12110964830,Joža,Spurný,doc.,JUDr.PhDr.,Ph.D.,NaN,NaN,NaN,NaN,NaN,NaN
32731,13500390262,Marcela,Harčárová,None,Mgr.,None,NaN,NaN,NaN,NaN,NaN,NaN
32732,17108478442,Jana,Juhásová,None,Mgr.,None,NaN,NaN,NaN,NaN,NaN,NaN
32733,15917135755,Miriama,Kubušová,None,Mgr.,None,NaN,NaN,NaN,NaN,NaN,NaN
32734,51680829014,Jana,Ochodnícka,None,PhDr.,None,NaN,NaN,NaN,NaN,NaN,NaN